@font-face {
  font-family: 'Chalet London Nineteen Sixty';
  src: url('ChaletLondonNineteenSixty.ttf');
}

body {
  font-size: 21px;
  font-family: 'Chalet London Nineteen Sixty', sans-serif;
}

.container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(20, 20, 20, 0.7) 80%, rgba(70, 70, 70, 0.7) 100%);
  width: 300px;
  top: 150px;
  position: absolute;
  color: #fff;
  display: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  overflow-x: hidden;
  max-height: 500px;
}

ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #c0c0c0;
}

ul::-webkit-scrollbar
{
	width: 3px;
	background-color: #c0c0c0;
}

ul::-webkit-scrollbar-thumb
{
	background-color: #0e0e0e;
}

li {
  padding: 8px;
  margin: 0;
  height: 25px;
  overflow: hidden;
  line-height: 25px;
}

li:hover, li.current {
  background-color: #fff;
  color: #000;
  cursor: default;
}

li.has-children::after {
  content: '>';
  float: right;
}

ul:not(.lvl-1) {
  display: none;
}

.header {
  text-align: center;
  margin-top: -20px;
  height: 70px;
  background: linear-gradient(to right, rgba(11, 60, 123, 0.7), rgba(49, 105, 189, 0.7));
  border-bottom: 2px black solid;
}

.header h1 {
  font-weight: 400;
  padding-top: 13px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  font-size: 14px;
  position: absolute;
  bottom: -49px;
  height: 45px;
  width: 100%;
  border-top: 2px black solid;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.6) 0%, rgba(40, 40, 40, 0.6) 80%, rgba(70, 70, 70, 0.6) 100%);
}

.footer span {
  display:block;
  margin-left: 5px;
  margin-top: 7px;
}
