body
{
  margin: 0px;
  padding: 0px;
  font-family: 'Domine', serif;
}

.backdrop
{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('loadingscreen.png');
  background-size: 100% 100%;
}

.bottom
{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

#gradient
{
  position: absolute;
  bottom: 0px;
  width: 100%;

  height: 25%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

h1, h2 {
  position: relative;
  background: transparent;
  z-index: 0;
  text-transform: uppercase;
  margin: 0px;
  display: inline-block;
  color: #E70000;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  float: right;
  top: 10px;
}


.letni
{
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 10%;

  z-index: 5;

  color: #fff;

  font-family: 'Domine', serif;
}

.letni p
{
  font-size: 22px;
  margin-left: 3px;
  margin-top: 0px;
}

.top
{
  color: #fff;
  position: absolute;
  top: 7%;
  left: 5%;
  right: 5%;
}

.loadbar
{
  width: 100%;
  background-color: rgba(140, 140, 140, .9);
  height: 20px;

  margin-left: 2px;
  margin-right: 3px;

  margin-top: 5px;
  margin-bottom: 5px;

  overflow: hidden;

  position: relative;

  display: block;
}

.thingy
{
  width: 10%;
  background-color: #eee;
  height: 20px;

  position: absolute;
  left: 10%;
}

.list {
  color: #ffffff;
  position: absolute;
  right: 30px;
}

.list h2 {
  color: #ffffff;
  float: none;
  padding-top: 10%;
}

.list li {
  font-size: 24px;
}

.highlight {
  font-weight: bold;
  color: #E70000;
}
